<div class="btn menubtn" role="button">{{ "Merge Tags"|t }}</div>
<div class="menu" id="merge-tags-menu">
    <h3 class="merge-tags-intro">Merge Selected Tags Into:</h3>
    <hr>
    <ul class="merge-tags-list"></ul>
</div>
